<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
<div class="container-index">
    <button class="blue-button">
        <img th:src="@{/img/exame.png}" alt="imagem ilustrativa de exame" width="20" height="20">
        Realizar Exame
    </button>

    <button class="blue-button">
        <img th:src="@{/img/atendimentos.png}" alt="imagem ilustrativa de atendimentos" width="20" height="20">
        <p>Atendimentos</p>
    </button>
</div>
</body>
</html>