<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container-pacientes">
    <header class="cabecalho">
        <div class="titulo">
            <img th:src="@{/img/consultas-title.png}" alt="imagem ilustrativa de pacientes" width="40" height="40">
            <h1>Pacientes</h1>
        </div>

        <a class="blue-button" th:href="@{/pacientes/create}">
            <img th:src="@{/img/exame.png}" alt="imagem ilustrativa de pacientes" width="20" height="20">
            <p>Cadastrar novo Paciente</p>
        </a>

        <a href="/">
            <img th:src="@{/img/arrow.png}" alt="imagem de uma seta" width="20" height="20">
        </a>
    </header>

    <div th:each="paciente : ${pacientes}" class="pacientes">
        <h3 th:text="'Nome: ' + ${paciente.getNome()}"></h3>
        <h3 th:text="'Data Nascimento: ' + ${paciente.getDataNascimento()}"></h3>
        <h3 th:text="'Telefone: ' + ${paciente.getTelefone}"></h3>

        <div class="acoes-paciente">
            <div>
                <form th:action="@{/pacientes/delete/{id}(id=${paciente.getId()})}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este Paciente?');" class="red-button">Excluir</button>
                </form>
            </div>

            <div>
                <a th:href="@{/pacientes/edit/{id}(id=${paciente.getId()})}" class="alternative-button">Editar</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>